version: '3.8'

services:
  web:
    build: .
    command: sh -c "flask db upgrade && gunicorn run:app --bind 0.0.0.0:8000 --workers 3 --log-file -"
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always # Ensure the service restarts if it crashes
    depends_on:
      - db
      - redis

  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    # No port mapping for production usually, services connect internally
    # - "5432:5432"
    restart: always

  redis:
    image: redis:6.2-alpine
    restart: always

  worker:
    build: .
    command: celery -A celery_app:celery_app worker --loglevel=info
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    restart: always # Ensure the service restarts if it crashes
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
