<!doctype html>
<html>
  <body>
    <h2>Welcome to Smartmove, {{ name }}!</h2>
    <p>We are excited to help you move to your new home.</p>
    <a href="{{ login_url }}">Click here to log in and get your first quote.</a>
  </body>
</html>
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to SmartMove!</title>
</head>
<body>
    <p>Dear {{ user_name }},</p>
    <p>Welcome to SmartMove! We are excited to have you on board.</p>
    <p>You can now start exploring our services and make your moving experience smarter.</p>
    <p>If you have any questions, feel free to contact us.</p>
    <p>Thank you,</p>
    <p>The SmartMove Team</p>
</body>
</html>
